@import '../../styles/variables';

.nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;

    &-link {
      text-decoration: none;
      color: $main_color;
      font-size: 18px;

      &.active {
        border-bottom: 2px solid $main_color;
      }

      &:hover {
        color: lighten($main_color, 20);
      }
    }
  }

  &--dark {

    .nav__list-link {
      color: #fff;
    }
  }
}