@use '../../styles/variables' as *;

.header {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid $main_color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 150px;

    img {
      width: 100%;
    }
  }
}